<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1, user-scalable=no"/>
<meta name="format-detection" content="telephone=no" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<title>商品详情</title>
<link href="__PUBLIC__/css/default/layout.css" type="text/css" rel="stylesheet">
<link href="__PUBLIC__/css/default/mall.css" type="text/css" rel="stylesheet">
</head>
<body>
<div class="mall_header">
	<a href="{:U('Index/index')}"><img class='mall_header_img mall_header_img_left' src="__PUBLIC__/img/back.png" /></a>
	<span class="mall_header_logo">偶遇商城</span>
	<a href="{:U('Index/index')}"><img class='mall_header_img mall_header_img_right' src="__PUBLIC__/img/home.png" /></a>
</div>
<div class="goods-banner">
	<div class="swiper-container">
		<div class="swiper-wrapper">
			<volist name="detail.picture_0" id="vo">
				<div class="swiper-slide"><a href="#" style="background-image:url(__PUBLIC__/images/{$vo})"></a></div>
			</volist>
		</div>
		<div class="swiper-pagination"></div>
	</div>
</div>
<div class="goods-info">
	<h5>{$detail.name}</h5>
	<div class="price">
		<p class="orange-color fl">¥{$detail.price}元</p>
		<p class="pre-price fr">已购{$detail.al_number}份，还剩<b class="orange-color">{$detail.number}</b>份</p>
	</div>
</div>

<!-- 图文详情 -->
<div class="mall-goods-list"><h3 class="title">商品详情</h3></div>
<div class="detcon">
	<div class="editbox">
		<div class="sort">
			{$detail.detail}
		</div>
		<volist name="detail.picture_1" id="vo">
			<img style="margin-bottom: .4rem" src="__PUBLIC__/images/{$vo}" >
		</volist>
	</div>
</div>

<div class="fixed-jf">
	<gt name="detail.number" value="0">
		<a href="{:U('submit')}?id={$detail.id}" id="submit" class="oy-btn oy-orange-btn fr">马上购买</a>
		<else />
		<button type="button" disabled class="oy-btn fr">商品售罄</button>
	</gt>
</div>
<script type="text/javascript" src="__PUBLIC__/js/default/main.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/default/swiper.min.js"></script>
<script type="text/javascript">
var mySwiper = new Swiper ('.swiper-container', {   
	autoplay: 3000,
	pagination : '.swiper-pagination',
	loop : true,
    });
</script>
</body>
</html>
