<ul class="layui-nav layui-nav-tree layui-nav-side" lay-filter="test" style="margin-top: 38px">
    <li class="layui-nav-item layui-nav-itemed">
        <dd <eq name="Think.get.gn_id" value="1">class="layui-this"</eq>>
            <a href="{:U('Goods/index')}?gn_id=1">商品管理</a>
        </dd>
    </li>
    <li class="layui-nav-item layui-nav-itemed <eq name="Think.get.gn_id" value="2">layui-this</eq>">
        <dd <eq name="Think.get.gn_id" value="2">class="layui-this"</eq>>
            <a href="{:U('Order/index')}?gn_id=2">订单管理</a>
        </dd>
    </li>
</ul>
