<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1, user-scalable=no"/>
<meta name="format-detection" content="telephone=no" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<title>商城首页</title>
<link href="__PUBLIC__/css/default/layout.css?t=20180123" type="text/css" rel="stylesheet">
<link href="__PUBLIC__/css/default/mall.css?t=20180123" type="text/css" rel="stylesheet">
</head>
<body>
<div class="mall_header">
	<span class="mall_header_logo">偶遇商城</span>
</div>
<!-- banner -->
<div class="mall-banner mall-index-banner">
	<div class="swiper-container">
		<div class="swiper-wrapper">
			<volist name="adlist" id="vo">
				<div class="swiper-slide"><a href="{$vo.href}" style="background-image:url(__PUBLIC__/images/{$vo.url})"></a></div>
			</volist>
		</div>
		<div class="swiper-pagination"></div>
	</div>
</div>
<!-- 广告位橱窗 -->
<!--<div class="adsbox">
	<div class="ads-left">
		<a href="activities.html" style="background-image:url(__PUBLIC__/img/ad1.jpg)"></a>
	</div>
	<div class="ads-right">
		<a href="activities.html" style="background-image:url(__PUBLIC__/img/ad2.jpg)"></a>
		<a href="#activities.html" style="background-image:url(__PUBLIC__/img/ad2.jpg)"></a>
	</div>
</div>-->
<!-- 商品列表 -->
<div class="mall-goods-list">
	<h2 class="title">热卖新品<!--<a href="goods-list.html" class="more clear">更多&gt;&gt;</a>--></h2>
	<div class="goods-list">
		<ul>
			<volist name="list" id="vo">
				<li>
					<a href="{:U('Goods/detail')}?id={$vo.id}">
						<div class="imgbox" style="background-image:url(__PUBLIC__/images/{$vo.url})"></div>
						<b>{$vo.name}</b>
						<p>
							<i class="orange-color">¥{$vo.price}元</i>
						</p>
					</a>
				</li>
			</volist>
		</ul>
	</div>
</div>
<script type="text/javascript" src="__PUBLIC__/js/default/main.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/default/swiper.min.js"></script>
<script type="text/javascript">
var mySwiper = new Swiper ('.swiper-container', {   
	autoplay: 3000,
	pagination : '.swiper-pagination',
	loop : true,
    });
</script>
</body>
</html>
