<extend name="Public:base" />
<block name="main">
    <form class="layui-form" action="{:U('update')}" method="post">
        <div class="layui-form-item">
            <label class="layui-form-label">商品名称</label>
            <div class="layui-input-block">
                <input type="text" name="name" value="{$detail.name}" required  lay-verify="required" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">商品售价</label>
            <div class="layui-input-block">
                <input type="text" placeholder="(元)" value="{$detail.price}" name="price" required  lay-verify="required" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">商品库存</label>
            <div class="layui-input-block">
                <input type="number" name="number" value="{$detail.number}" required  lay-verify="required" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">商品已售</label>
            <div class="layui-input-block">
                <input type="number" name="al_number" value="{$detail.al_number}" required  lay-verify="required" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">商品排序</label>
            <div class="layui-input-block">
                <input type="number"  value="{$detail.order}" placeholder="数值越小越靠前，最小为0" name="order" required  lay-verify="required" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">商品详情</label>
            <div class="layui-input-block">
                <textarea name="detail" class="layui-textarea">{$detail.detail}</textarea>
            </div>
        </div>
        <input type="hidden" name="id" value="{$detail.id}">
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
                <a  href="javascript:history.back()" class="layui-btn layui-btn-primary">返回</a>
            </div>
        </div>
    </form>
</block>