<extend name="Public:base" />
<block name="main">
    <table class="layui-table">
        <thead>
        <tr>
            <th>订单号</th>
            <th>订单状态</th>
            <th>商品名称</th>
            <th>购买数量</th>
            <th>姓名</th>
            <th>电话</th>
            <th>地址</th>
            <th>下单时间</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <volist name="list" id="vo">
            <tr>
                <td>{$vo.order_sn}</td>
                <td>{$vo.status}</td>
                <td>{$vo.name}</td>
                <td>{$vo.number}</td>
                <td>{$vo.customer_name}</td>
                <td>{$vo.customer_phone}</td>
                <td>{$vo.customer_address}</td>
                <td>{$vo.create_time}</td>
                <td><neq name="vo.status" value="已作废"><eq name="vo.status" value="待发货"><button type="button" data-id="{$vo.id}" class="layui-btn layui-btn-small send">发货</button></eq><eq name="vo.status" value="已发货"><button type="button" data-id="{$vo.id}" class="layui-btn layui-btn-small receive">签收</button></eq><button type="button" data-id="{$vo.id}" class="layui-btn layui-btn-danger layui-btn-small delete">作废</button></neq></td>
            </tr>
        </volist>
        </tbody>
    </table>
</block>
<block name="js">
    <script>
        $(function () {
            $('.send').on('click',function () {
                var id = $(this).attr('data-id');
                layer.confirm('发货该订单？',function () {
                    window.location.href = "{:U('update_status')}?status=1&id="+id;
                });
            })
            $('.receive').on('click',function () {
                var id = $(this).attr('data-id');
                layer.confirm('签收该订单？',function () {
                    window.location.href = "{:U('update_status')}?status=2&id="+id;
                });
            });
            $('.delete').on('click',function () {
                var id = $(this).attr('data-id');
                layer.confirm('是否作废该订单',function () {
                    window.location.href = "{:U('update_status')}?status=3&id="+id;
                });
            });
        })
    </script>
</block>